body{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}
.jd-search{
    width: 100%;
    top: 0;
    position: fixed;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;;
    height: 44px;
    background: transparent;
    padding-right: 50px;
    z-index: 999;
}

.jd-search .jd-search-mulu{
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 18px;
    margin: 14px 0 0 15px;
    background: url(../images/jd-mulu.png) no-repeat;
    background-size: 100% 100%;
    /* background: black;
    border: 1px solid green; */
}
.jd-search form{
    padding-left: 50px;
    height:44px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.jd-search .jd-search-logo{
    width: 20px;
    height: 15px;
    background: url(../images/jd-logo.png) no-repeat;
    background-size: 20px 15px;
    margin: 15px 8px 0 15px;
    position: absolute;
    z-index: 1;
    float: left;
}
.jd-search .jd-search-logo::after{
    content: "";
    height: 16px;
    border-right: 1px solid #ddd;
    left: 26px;
    position: absolute;
}
.jd-search .jd-search-btn{
    float: left;
    width: 18px;
    height: 15px;
    position: absolute;
    left: 96px;
    top: 15px;
    background: url(../images/jd-sprites.png) no-repeat -80px 0;
    background-size: 200px 200px;
    z-index: 2;
}
.jd-search form input{
    width: 100%;
    margin-top: 7px;
    height: 30px;
    border-radius: 15px;
    border: none;
    position: relative;
    font-size: 12px;
    float: left;
    top: 0;
    padding-left: 72px;
    margin-right: 100px;
}
.jd-search .jd-search-denglu{
    position: absolute;
    top: 0;
    right: -50px;
    width: 40px;
    height: 44px;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
}
.jd-search .jd-search-denglu:hover{
    background-color: #ccc;
}
/* 轮播图代码 */
.jd-lunbo{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.jd-lunbo ul{
    position: relative;
    animation: lunbomove 20s ease 3s infinite;
}
.jd-lunbo > ul >li{
    position: absolute;
    top: 0;
    width: 100%;
}
.jd-lunbo > ul li.lunbo0{
    position: relative;
    left: 0;
}
.jd-lunbo > ul .lunbo1{
    left: 100%;
}
.jd-lunbo > ul .lunbo2{
    left: 200%;
}
.jd-lunbo > ul .lunbo3{
    left: 300%;
}
.jd-lunbo > ul .lunbo4{
    left: 400%;
}
.jd-lunbo > ul .lunbo5{
    left: 500%;
}
.jd-lunbo li a{
    display: block;
}
.jd-lunbo li img{
    width: 100%;
    height: 100%;
}
/* 菜单栏 */
.jd-nav{
    margin: 0 auto;
}
.jd-nav ul{
    width: 100%;

}
.jd-nav ul>li{
    float: left;
    width: 20%;
    margin-top: .5rem;
}
.jd-nav ul>li img{
    display: block;
    width: 2rem;
    margin-top: .5rem;
    margin: 0 auto;
}
.jd-nav ul>li a{
    font-size: .6rem;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}
/* 新闻栏 */
.jd-news{
    max-width: 640px;
    min-width: 320px;
    margin: .5rem auto 0;
    position: relative;
    padding: 0 .4rem;
}
.jd-news .jd-news-logo{
    width: 3.65rem;
    height: 1rem;
    position: absolute;
    left: 0;
}
.jd-news .jd-news-logo img{
    position: relative;
    width: 3.65rem;
    height: 1rem;
    margin-left: .4rem;
}
.jd-news .jd-news-container{
    position: relative;
    padding-left: 4.15rem;
    /* padding: 0 2.5rem 0 4.15rem; */
    padding-right: 3.6rem;
    float: left;
    /* height: 1rem; */
    width: 100%;
    /* border: 1px solid black; */
}
.jd-news .jd-news-container ul{
    width: 100%;
    /* overflow: hidden; */
    margin-right: 4.5rem;
}
.jd-news .jd-news-container ul li span{
    color: red;
    display: inline-block;
    padding-right: .4rem;
}
.jd-news .jd-news-container ul li{
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .6rem;
    width: 100%;
}
.jd-news .jd-news-more{
    position: absolute;
    right: .4rem;
    height: 1rem;
    font-size: .6rem;
}
.jd-news .jd-news-more::before{
    content: "";
    width: 0;
    height: 16px;
    border-left: 1px solid #ccc;
    right: .4rem;
    padding-left: .5rem;
}

/* 京东秒杀 */
.jd-skill{
    position: relative;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;;
}
.jd-skill .jd-skill-logo{
    display: inline-block;
    margin: .1rem .15rem 0;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #f02b2b;
    font-weight: 700;
}
.jd-skill .jd-skill-goal{
    font-weight: 700px;
    display: inline-block;
    height: 2rem;
}
.jd-skill .jd-skill-goal span{
    color: black;
    font-weight: 700;
    line-height: 2.3rem;
    font-size: .8rem;
}
.jd-skill .jd-skill-time{
    margin-left: .4rem;
    height: 1.7rem;
    display: inline-block;
    vertical-align: middle;
}
.jd-skill .jd-skill-time span{
    display: inline-block;
    font-size: .8rem;
    width: .2rem;
    /* line-height: 2.3rem; */
}
.jd-skill .jd-skill-time span:nth-child(2n+1){
    display: inline-block;
    height: .8rem;
    width: inherit;
    border: 1px solid #ccc;
    line-height: .8rem;
    padding: .1rem;
}
.jd-skill .jd-skill-more{
    float: right;
}
.jd-skill .jd-skill-more a{
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: #f02b2b;
    line-height: 2.3rem;
    padding-right: 22px;
}
.jd-skill .jd-skill-morelogo{
    width: 11px;
    height: 11px;
    background: url(../images/arrow_rt.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 8px;
    top: 11px;
}
.jd-skill .jd-skill-goods{
    max-width: 640px;
    min-width: 320px;
    overflow: hidden;
}
.jd-skill .jd-skill-goods ul{
    width: 1000px;
}
.jd-skill .jd-skill-goods ul li{
    float: left;
    width: 78px;
}
.jd-skill .jd-skill-goods img{
    width: 78px;
}
.jd-skill .jd-skill-goods .new{
    margin-top: 10px;
    display: block;
    color: #f23030;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    text-align: center;
    font-weight: 700;
}
.jd-skill .jd-skill-goods .old{
    margin-top: 10px;
    display: block;
    color: #686868;
    font-size: 12px;
    line-height: 12px;
    text-decoration: line-through;
    text-align: center;
}

@keyframes lunbomove
{
    0% {left: 0%;}
    19% {left: 0%;}
    20% {left: -100%;}
    39% {left: -100%;}
    40% {left: -200%;}
    59% {left: -200%;}
    60% {left: -300%;}
    79% {left: -300%;}
    80% {left: -400%;}
    99% {left: -400%;}
    100% {left: -500%;}
}

.denglu{
    display: none;
}